

body{
    font-family: Roboto;
    background: white;
    
}
a{
    text-align: center;
    color: black;
    padding: 30px 0;
    text-decoration: none;
}

.container1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 900px;
}

.page{
    width: 100%;
}

.encabezado{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.imagen{
    width: 50%;
}

.tituloEncabezado{
    color:cornflowerblue;
    font-weight: bold;
}

.parrafitoEncabezado{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height:0;
  
}

.tipoProtocoloYfecha{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    font-size: 12px;
}


.sintomas{
    text-align: center;
    font-size: 12px;
}

.datosPaciente{
    margin: auto;
    width: 50%;
    font-family: Roboto;
  

}

.tabla{
    font-size: 12px;
    overflow: clip;
    font-weight: normal;
   border-radius: 30px;
   border: 1px solid gray;
   border-collapse: separate; /* Cambia a 'separate' para que el border-radius funcione */
   border-spacing: 0; /* Evita el espacio extra entre bordes */
  
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
   
}


.tabla td, .tabla th {
    text-align: left;
    padding: 10px;
    border: 1px solid gray; 
}

.tabla td {
    font-size: 12px;
    border: 1px solid gray; 
    border-bottom: gray;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    
}

.tabla th {
    border: 1px solid gray; 
    color: #ffffff;
    border-style: solid;
    border-color: #5D87B2;
    background: #5D87B2;

}


.tabla th:nth-child(odd) {
    color: #ffffff;
    background: #5D87B2;
}

.tabla tr:nth-child(even) {
    background: #ffffff;
    color: black;
    font-family: Roboto;
}

.tabla tr:nth-child(odd) {
    background: #ffffff;
    color: black;
    font-family: Roboto;
}


.tablaResultado{
    font-size: 12px;
    width: 40%;
    border: none;
    border-collapse: collapse;
}

.tablaResultado td{
    border-style: solid;
    border-color: black;
}



.medicionesYresultado{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.formValidar{
    display: flex;
    flex-direction: column;
    width: 50%;
    font-size: 12px
 
}

.textarea{
    width: 100%;
    font-style: Roboto ;
    font-size: 10px;
    padding: 5px;
    border-radius: 10px;
    border-color: gray;
    border-style: solid;
}


.btn{
    text-decoration: none;
    color: white;
    background-color: blue;
    border-color: blue;
    border-style: solid;
    font-size: large;
    font-family: 'Montserrat', sans-serif;
    border-radius: 20px;
    cursor: pointer;
}

.chart-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 80%;
    width: 80%;
    margin: auto;
}

/* estaba en 50% y 50% en chart container */

.firma{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    line-height: 0;
}


.botonazul{
    height: 30px;
    border: none;
    display: flex;
    padding: 5px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: var(--Color, #5D87B2);
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px /* 112.254% */;
    width: 100%;
    cursor: pointer;
   
   }

   
   .botonblanco{

    height: 30px;
    display: flex;
    padding: 5px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: white;
    color: #5D86B2;
    border-color: #5D86B2;
    border-style: solid;
    text-align: center;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px /* 112.254% */;
    width: 100%;
    cursor: pointer;
      
   }

   .botonera{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 30%;
}

@media (max-width: 767px) {

    

}

.btn{
    text-decoration: none;
    color: white;
    background-color: blue;
    border-color: blue;
    border-style: solid;
    font-size: large;
    font-family: 'Montserrat', sans-serif;
    border-radius: 20px;
    cursor: pointer;
}

.pdfDownload{
    cursor: pointer;
}


/* 
@media (max-width: 767px) {

    body {
        zoom: 60%;
      }
    

.encabezado{
    flex-direction: column;
}

.imagen{
    width: 90%;
}

.tipoProtocoloYfecha{
    line-height: 1
}

.medicionesYresultado{
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}




.formValidar{
    display: flex;
    flex-direction: column;
    width: auto;
 
}

.chart-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: auto;
    width: auto;
    margin: auto;
}


} */

