.bodyLogo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    min-height: 100vh;
}

.bodyLogo2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
  
}

.containerForm{
 display: flex;
 width: 60%;
 padding: 40px;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
 border-radius: 30px;
 background: linear-gradient(180deg, rgba(149, 255, 240, 0.20) 0%, rgba(118, 156, 252, 0.20) 100%);
}

.containerForm2{
    display: flex;
    width: 60%;
    padding: 40px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    background: white}

.containerLogo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
   

}

.logo{
    width: 90%;
}

.logintitle {
    width: 100%;
    height: 33px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--Color, #5D87B2);
    text-align: left;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 33.6px /* 140% */;
    border-bottom: 1px solid lightgray ;
   }

   .logintitle2 {
    width: 100%;
    height: 33px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--Color, #5D87B2);
    text-align: center;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 33.6px /* 140% */;
   }



   .form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 40%;
   }

   .loginfieldname {
    color: #5D86B2;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px /* 150% */;
   }

   .campo {
    justify-content: center;
    align-self: stretch;
    color: #A7A7A7;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px /* 150% */;
    display: flex;
    padding: 10px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid #DEE2E6;
    background: #FFF;
   } 

   .botonazul{
    height: 50px;
    border: none;
    display: flex;
    padding: 7px 25px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: var(--Color, #5D87B2);
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 15.88px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px /* 112.254% */;
    width: 100%;
    cursor: pointer;
   
   }

   .botonazul2{
    height: 50px;
    border: none;
    display: flex;
    padding: 7px 25px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: var(--Color, #5D87B2);
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 21.38px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px /* 112.254% */;
    width: 20%;
    cursor: pointer;
    text-decoration: none;
   
   }

   .botonesQr{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   }

   .botonazul3{
    height: 50px;
    border: none;
    display: flex;
    padding: 7px 25px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: var(--Color, white);
    border-color: #5D86B2;
    color: #5D87B2;
    border-style: solid;
    text-align: center;
    font-family: Roboto;
    font-size: 21.38px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px /* 112.254% */;
    width: 20%;
    cursor: pointer;
    text-decoration: none;
   
   }
   
   .label{
    width: 100%;
   }

   .containerEmail{
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: gray;
    line-height: 0.5;
   }

   .botonvacio {
    width: 10%;
    margin: 5px;
    color: #5D87B2;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 2px solid var(--Color, #5D87B2);
    background: #FFF;
    text-decoration: none;
   }

   


@media (max-width: 767px) {
    .containerForm{
        flex-direction: column;
        width: 90%;
    }
    .containerForm2{
        flex-direction: column;
        width: 90%;
    }

    .logo{
        width: 80%;
    }

    .containerLogo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    
    }

    .form{
        width: 100%;
    }

    .logintitle{
        text-align: center;
    }

    .bodyLogo{
      
        min-height: 80vh;
    }

   
}

