.swal2-popup {
    font-family: Roboto;
  }


* {
    margin: 0;
    padding: 0;
  }

  .divisor{
    display: none;
}

.botonX2{
    display: none;
   
}


  .divisorImgYtitulo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.leyenda{
    margin: 10px;
}

.imagenNuevo{
    width: 30%;
}



  .swal2-title {
    font-family:Roboto;
  }

  #sig-canvas {
    border: 2px dotted #CCCCCC;
    border-radius: 15px;
    cursor: crosshair;
  }


  .botonesFirma{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

  .sig-canvas{
    border: 2px dotted #CCCCCC;
    border-radius: 15px;
  }

.body{
    background: #BDE7F9 108.42%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.brandLogo{
    width: 15%;
    cursor: pointer;
}

.brandLogo2{
    width: 8%;
}

.navBar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #FFF 34.65%, #BDE7F9 108.42%);
}

.componenteNavBar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--Color, #5D87B2);
    text-align: left;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
}

.linkComponente{
    text-decoration: none;
}

.linkComponente2{
    text-decoration: none;
    width: 15%;
    margin: 20px;
    padding: 10px;
}

.imgComponente{
    width: 20%;
    margin: 10%;
}

.sectionMisDatos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tituloseccion{
    width: 100%;
display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 color: var(--Color, #5D87B2);
 text-align: center;
 font-family: Roboto;
 font-size: 20px;
 font-style: normal;
 font-weight: 500;
 line-height: 33.6px /* 157.156% */;
}

.tituloFirma{
    color: var(--Color, #5D87B2);
    font-family: Roboto;
 font-size: 20px;
 font-style:normal;
 font-weight: 500;
 line-height: 33.6px
}

.botones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.botonescritorioseccion{
display: flex;
flex-direction: column;
 align-items: center;
 border-radius: 10px;
 background: #FFF;
 box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.iconobotonesc{
    width: 100px;
    height: 100px;
   
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
   
}

.titulobotonesc{
color: var(--Color, #5D87B2);
 text-align: center;
 font-family: Roboto;
 font-size: 18px;
 font-style: normal;
 font-weight: 500;
 line-height: 24px /* 133.333% */;
 padding: 10px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 
}

.navBarMobile{
    display: none;
}

.nabBarMobileContainer{
    display: none;
}

.displayedNavbar{
    display: none;
}

.textBoton{
    text-align: center;
    font-size: small;
}

.label{
    width: 100%;
   }

   
   .loginfieldname {
    color: #5D86B2;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px /* 150% */;
   }

   .campo {
    width: 100%;
    justify-content: center;
    align-self: stretch;
    color: #6c6c6c;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px /* 150% */;
    display: flex;
    padding: 10px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid #DEE2E6;
    background: #FFF;
    margin-bottom: 5px;
   } 

   .sectionMisDatos{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }

   .datosUsers{
    width: 80%;
   }

   .usuario{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
   }

   .datosFirma{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }


.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    

   }
   

   .ultimaFirma{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }

   .botonazul{
    height: 50px;
    border: none;
    display: flex;
    padding: 7px 25px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: var(--Color, #5D87B2);
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 21.38px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px /* 112.254% */;
    width: 100%;
    cursor: pointer;
   
   }

   .botonblanco{
    margin: 10px;
    height: 50px;
    border: none;
    display: flex;
    padding: 7px 25px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: var(--Color, white);
    color:#5D87B2 ;
    border: #5D86B2;
    border-style: solid;
    text-align: center;
    font-family: Roboto;
    font-size: 21.38px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px /* 112.254% */;
    width: 100%;
    cursor: pointer;
   
   }

.containerForm{
    display: flex;
 width: 50%;
 padding: 40px;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 border-radius: 30px;
 background: white
}

.logintitle {
    width: 100%;
    height: 33px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--Color, #5D87B2);
    text-align: left;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 33.6px /* 140% */;
    border-bottom: 1px solid lightgray ;
   }



@media (max-width: 767px) {

    .containerForm{
        width: 90%;
        padding: 0;
    }

    .form{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 90%;
        
    
       }

    .reveal{
        display: none;
        width: 100%;
    }

    .navBar{
        display: none;
    }

    .navBarMobile{
        width: 100%;
      
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background: linear-gradient(180deg, #FFF 34.65%, #BDE7F9 108.42%);
    }

    .nabBarMobileContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .displayedNavbar{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        background: white;
    }


    .brandLogo{
        width: 45%;
        cursor: pointer;
    }

    .brandLogo2{
        width: 8%;
    }

    .linkComponente2{
        text-decoration: none;
        width: 80%;
        margin: 20px;
        padding: 10px;
    }
    
    .imgComponente{
        width: 20%;
    }
    
    .tituloseccion{
        width: 80%;
        display: flex;
     flex-direction: column;
     justify-content: center;
     align-items:flex-start ;
     color: var(--Color, #5D87B2);
     text-align: center;
     font-family: Roboto;
     font-size: 21.38px;
     font-style: normal;
     font-weight: 500;
     border-color: lightgray;
     border-bottom-style: solid;
     line-height: 33.6px /* 157.156% */;
    }

    .divisor{
        display: block;
    }
    
    .botones{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .botonescritorioseccion{
    display: flex;
    flex-direction: row;
     align-items: center;
     border-radius: 10px;
     background: #FFF;
     box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    
    }
    
    .iconobotonesc{
        width: 100px;
        height: 100px;
       
        display: flex;
        padding: 10px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
        border-right: 1px solid rgba(93, 135, 178, 0.50);
    }
    
    .titulobotonesc{
    color: var(--Color, #5D87B2);
     text-align: center;
     font-family: Roboto;
     font-size: 18px;
     font-style: normal;
     font-weight: 500;
     line-height: 24px /* 133.333% */;
     padding: 10px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: flex-start;
    }

    .textBoton{
        text-align: left;
        font-size: small;
    }

    .linkComponenteMobile{
        width: 100%;
        text-decoration: none;
    }

    .componenteNavBar{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        color: var(--Color, #5D87B2);
        font-family: Roboto;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        padding: 10px;
        border-bottom:1px solid rgba(93, 135, 178, 0.50);
    }

    .StrongNav{
        font-size:1.5rem;
    }


    .imagenNuevo{
        width: 20%;
    }

    .datosFirma{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       }

       .datosUsers{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       }

       .leyenda{
        font-size: 65%;
    }

    
   .campo {
    width: 90%;
    justify-content: center;
    align-self: stretch;
    color: #6c6c6c;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px /* 150% */;
    display: flex;
    padding: 10px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid #DEE2E6;
    background: #FFF;
    margin-bottom: 5px;
   } 

   .botonX2{
    
   
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    margin: 20px;
    width: 90%;
}


.imgBotonNavBar{
    width: 10%;
    margin: 5%;
}


   }
    
    

