* {
    margin: 0;
    padding: 0;
  }

  #sig-canvas {
    border: 2px dotted #CCCCCC;
    border-radius: 15px;
    cursor: crosshair;
  }


  .botonesFirma{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

  .sig-canvas{
    border: 2px dotted #CCCCCC;
    border-radius: 15px;
  }

.body{
    background: #BDE7F9 108.42%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.brandLogo{
    width: 15%;
    cursor: pointer;
}

.brandLogo2{
    width: 8%;
}

.navBar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #FFF 34.65%, #BDE7F9 108.42%);
}

.componenteNavBar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--Color, #5D87B2);
    text-align: left;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
}

.linkComponente{
    text-decoration: none;
}

.linkComponente2{
    text-decoration: none;
    width: 15%;
    margin: 20px;
    padding: 10px;
}

.imgComponente{
    width: 20%;
}

.tituloseccion{
    width: 100%;
display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 color: var(--Color, #5D87B2);
 text-align: center;
 font-family: Roboto;
 font-size: 20px;
 font-style: normal;
 font-weight: 500;
 line-height: 33.6px /* 157.156% */;
}

.tituloFirma{
    color: var(--Color, #5D87B2);
    font-family: Roboto;
 font-size: 20px;
 font-style:normal;
 font-weight: 500;
 line-height: 33.6px
}

.botones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.botonescritorioseccion{
display: flex;
flex-direction: column;
 align-items: center;
 border-radius: 10px;
 background: #FFF;
 box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.iconobotonesc{
    width: 100px;
    height: 100px;
   
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
   
}

.titulobotonesc{
color: var(--Color, #5D87B2);
 text-align: center;
 font-family: Roboto;
 font-size: 18px;
 font-style: normal;
 font-weight: 500;
 line-height: 24px /* 133.333% */;
 padding: 10px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 
}

.navBarMobile{
    display: none;
}

.nabBarMobileContainer{
    display: none;
}

.displayedNavbar{
    display: none;
}

.textBoton{
    text-align: center;
    font-size: small;
}

.label{
    width: 100%;
   }

   
   .loginfieldname {
    color: #5D86B2;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px /* 150% */;
   }

   .campo {
    width: 100%;
    justify-content: center;
    align-self: stretch;
    color: #6c6c6c;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px /* 150% */;
    display: flex;
    padding: 10px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid #DEE2E6;
    background: #FFF;
    margin-bottom: 5px;
   } 

   .sectionMisDatos{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }

   .datosUsers{
    width: 60%;
   }

   .usuario{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
   }

   .datosFirma{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   }


.form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    

   }

   .botonazul{
    height: 50px;
    border: none;
    display: flex;
    padding: 7px 25px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: var(--Color, #5D87B2);
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 21.38px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px /* 112.254% */;
    width: 100%;
    cursor: pointer;
   
   }

   .botonblanco{
    margin: 10px;
    height: 50px;
    border: none;
    display: flex;
    padding: 7px 25px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: var(--Color, white);
    color:#5D87B2 ;
    border: #5D86B2;
    border-style: solid;
    text-align: center;
    font-family: Roboto;
    font-size: 21.38px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px /* 112.254% */;
    width: 100%;
    cursor: pointer;
   
   }

.containerForm{
    display: flex;
 width: 60%;
 padding: 40px;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 border-radius: 30px;
 background: white
}

.logintitle {
    width: 100%;
    height: 33px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--Color, #5D87B2);
    text-align: left;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 33.6px /* 140% */;
    border-bottom: 1px solid lightgray ;
   }



   .table-wrapper{
    margin: auto;
    overflow: clip;
    width: 80%;
    border-radius: 30px;
    border-color: black;
    border-style: solid;
   
}

.fl-table {


    font-size: 10px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border: none;
    font-size: 15px;
}

.fl-table thead th {
    color: #ffffff;
    border-style: solid;
    border-color: black;
    background: black;
    font-size: 15px;
}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: black;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}

.mobileIcon{
    display: none;
}

.desktopIcon{
    display: block;
}



@media (max-width: 767px) {

    .containerForm{
        width: 70%;
    }

    .form{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        
    
       }

    .reveal{
        display: none;
        width: 100%;
    }

    .navBar{
        display: none;
    }

    .navBarMobile{
        width: 100%;
      
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background: linear-gradient(180deg, #FFF 34.65%, #BDE7F9 108.42%);
    }

    .nabBarMobileContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .displayedNavbar{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        background: white;
    }


    .brandLogo{
        width: 100px;
        cursor: pointer;
    }

    .linkComponente2{
        text-decoration: none;
        width: 80%;
        margin: 20px;
        padding: 10px;
    }
    
    .imgComponente{
        width: 20%;
    }
    
    .tituloseccion{
        display: flex;
     flex-direction: column;
     justify-content: center;
     align-items:center ;
     color: var(--Color, #5D87B2);
     text-align: center;
     font-family: Roboto;
     font-size: 21.38px;
     font-style: normal;
     font-weight: 500;
     line-height: 33.6px /* 157.156% */;
    }
    
    .botones{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .botonescritorioseccion{
    display: flex;
    flex-direction: row;
     align-items: center;
     border-radius: 10px;
     background: #FFF;
     box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    
    }
    
    .iconobotonesc{
        width: 100px;
        height: 100px;
       
        display: flex;
        padding: 10px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
        border-right: 1px solid rgba(93, 135, 178, 0.50);
    }
    
    .titulobotonesc{
    color: var(--Color, #5D87B2);
     text-align: center;
     font-family: Roboto;
     font-size: 18px;
     font-style: normal;
     font-weight: 500;
     line-height: 24px /* 133.333% */;
     padding: 10px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: flex-start;
    }

    .textBoton{
        text-align: left;
        font-size: small;
    }

    .linkComponenteMobile{
        width: 50%;
        text-decoration: none;
    }

    .componenteNavBar{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        color: var(--Color, #5D87B2);
        font-family: Roboto;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        padding: 10px;
    }

    .imagenNuevo{
        width: 20%;
    }

    .datosFirma{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       }

       .datosUsers{
        width: 100%;
       }

       .mobileIcon{
        display: block;
    }
    
    .desktopIcon{
        display: none;
    }


    
    

}







/* @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.navBar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    padding: 10px;
}

.navBarContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.userName{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
h1{
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: black;
 
}

h2, h4{
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: black;
  
}

a{
    text-align: center;
    color: black;
  
    text-decoration: none;
}





.btn:hover {
    background-color: gray;
}

.table-wrapper{
    margin: auto;
    overflow: clip;
    width: 80%;
   
}

.fl-table {
    overflow: scroll;
    border-radius: 5px;
    font-size: 10px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border: 2px solid black;
    font-size: 15px;
}

.fl-table thead th {
    color: #ffffff;
    border-style: solid;
    border-color: black;
    background: black;
    font-size: 15px;
}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: black;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}

.cont33{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    margin: 10px;
    border-color: #555;
    border-radius: 5px;
}

.botones{
    width: max-content;
}

.botonmodificar{
    cursor: pointer;
}

.logo3 {
    width: 25%;
    border-radius: 50%;
   
}

.filtros{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.verocultar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.chart-container{
    display: flex;
    justify-content: center;
    margin-left: 8%;

}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footerinforme{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    

  }

  .btn2 {
    box-shadow: none;
    height: 40px;
    width: 100%;
    margin: 5px;
    background-color: #10b6ef;
    color: #fff;
    border-radius: 25px;
    box-shadow: 3px 3px 3px #b1b1b1,
        -3px -3px 3px #fff;
    letter-spacing: 1.3px;
    
}

.btn2:hover {
    background-color: gray;
}

.mobileIcon{
    display: none;
}

.desktopIcon{
    display: block;
}

.navbar-brand{
    display: flex;
    justify-content: center;
    width: 100%;
    left: 0;
}


.navBar2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.datoCelda{
    font-size: 20px;
}

.iconoNavBar{
    margin: 3%;
}

.brandLogo{
    width: 50%;
    max-width: 300px;
}

.btnSalas{
    text-decoration: none;
    color: white;
    background-color: black;
    border-color: black;
    border-style: solid;
    font-size: large;
    font-family: 'Montserrat', sans-serif;
    border-radius: 20px;
    cursor: pointer;
    margin: 20px;
}

.divBtnReset{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}




@media (max-width: 500px) {
    
    .navBar{
        width: 100%;
    }

    body{
        font-family: 'Montserrat', sans-serif;
        -webkit-font-smoothing: antialiased;
        background: white;
        display: initial;
    
    }

    .navBarContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }


    .table-wrapper{
        margin: 20px 60px 70px;
        box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
        width: auto
    }

    .botones{
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }

    .cont33{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .fl-table {
        display: block;
        width: 100%;
    }
    .table-wrapper:before{
        
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    .fl-table thead, .fl-table tbody, .fl-table thead th {
        display: block;
    }
    .fl-table thead th:last-child{
        border-bottom: none;
    }
    .fl-table thead {
        float: left;
    }
    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .fl-table td, .fl-table th {
        padding: 10px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y:hidden;
        width: 130px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .fl-table tbody tr {
        display: table-cell;
    }
    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }
    .fl-table tr:nth-child(even) {
        background: transparent;
    }
    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tbody td {
        display: block;
        text-align: center;
    }

    .btn{
        width: fit-content;
    }

    .mobileIcon{
        display: block;
    }
    
    .desktopIcon{
        display: none;
    }

   


}

 */